@media (max-width: 750px) {
  .home .background-circle {
    height: 100vh;
    top: -5%;
    left: 60%;
  }

  .home .content h1 {
    font-size: 2.1rem;
  }

  .home .content .appsus-logo {
    width: 8.5rem;
  }

  .home .content .gmail-logo {
    width: 5.5rem;
  }

  .home .content .keep-logo {
    width: 5.5rem;
  }
}

@media (max-width: 550px) {
  .app-header .main-nav-btn {
    display: block;
  }

  .main-nav {
    z-index: 30;

    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;

    height: 100vh;
    width: 70vw;

    background: linear-gradient(135deg, var(--gray1) 0%, var(--gray2) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-block-start: 16px;
    gap: 16px;
    transition: transform 0.3s ease-in-out;
  }

  body.menu-open .dark-screen {
    opacity: 1;
    pointer-events: auto;
  }

  body:not(.menu-open) .main-nav {
    transform: translateX(100%);
  }

  .main-nav a {
    margin: 0;
    width: 100%;
    padding: 1em 0;

    border-block-end: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }

  .main-nav a.active {
    text-decoration: none;
  }

  .main-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
