.mail-preview-row {
    position: relative;
    padding: .625rem 0;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    width: 100%;
}

.mail-preview-row>* {
    padding: 0;
    flex: 0 0 auto;
}

.mail-preview-row:hover {
    box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.mail-preview-row .select-btn {
    padding: 0 .8125rem 0 .625rem;
}

.mail-preview-row .star-btn,
.mail-preview-row .important-btn {
    padding: 0 .625rem 0 0;
}

.mail-preview-sender {
    padding-right: 2rem;
    width: 12.5rem;
}

.mail-preview-content {
    padding-right: .625rem;
    flex: 1 1 auto;
    min-width: 0;
}

.mail-preview-content .mail-info {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    min-width: 0;
    overflow: hidden;
}

.mail-preview-content .mail-info .mail-subject-container {
    display: inline-flex;
    align-items: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}


.mail-preview-content .mail-info .mail-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 0;
    text-align: left;
    color: rgb(95, 99, 104);
}

.mail-preview-content .mail-info .mail-body > * {
    float: left;
}
.mail-action-wrap {
    position: relative;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.mail-action-wrap::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem; 
    height: 2.5rem;
    background-color: rgba(32, 33, 36, 0.06);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.mail-action-wrap:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}