.sidebar {
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    width: 4.5rem;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    background-color: var(--mail-bg1);
    transition: width 0.25s ease;
    overflow: hidden;
}

.sidebar:hover {
    z-index: 1;
}

.sidebar.open {
    position: relative;
}

.sidebar.open,
.sidebar:hover {
    width: 16rem;
}

.sidebar-content {
    width: 100%;
    flex-direction: column;
}

/* Compose button styles */
.sidebar .compose-div {
    height: 80px;
}

.sidebar .compose-btn-container {
    padding-left: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.compose-icon-btn {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    border-radius: 1rem;
    background-color: #c2e7ff;
    cursor: pointer;
    border: none;
    transition: width 0.25s ease;
    overflow: hidden;
    white-space: nowrap;
    font-size: .875rem;
    transition: box-shadow .08s linear,
                min-width .15s cubic-bezier(0.4,0,0.2,1);
}

.sidebar.open .compose-icon-btn,
.sidebar:hover .compose-icon-btn {
    width: 8.75rem;
    justify-content: flex-start;
    padding-left: 1rem;
}

.sidebar:hover .compose-icon-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3),
                0 4px 8px 3px rgba(60, 64, 67, .15);
}

.compose-icon-btn img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.compose-text {
    display: none;
    margin-left: 0.75rem;
    color: #001d35;
}

.sidebar.open .compose-text,
.sidebar:hover .compose-text {
    display: inline;
}

/* Menu items styles */
.sidebar-menu {
    flex-direction: column;
    width: 100%;
}

.sidebar-icon {
    height: 2rem;
    border-radius: 0 1rem 1rem 0;
    padding: 0 .25rem 0 1.25rem;
    position: relative;
    transition: background-color 0.25s ease;
    cursor: pointer;
}

.sidebar-icon .icon-btn {
    margin-right: 1.125rem;
}

.sidebar-icon.active .icon-btn {
    background-color: #d3e3fd;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 1.125rem;
}

.sidebar.open .sidebar-icon.active,
.sidebar:hover .sidebar-icon.active {
    background-color: #d3e3fd;
    border-radius: 0 1rem 1rem 0;
    font-weight: bold;
}

.sidebar-icon:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-btn img {
    width: 1.25rem;
    height: 1.25rem;
}

.sidebar-icon-text {
    display: none;
    flex-grow: 1;
}

.sidebar.open .sidebar-icon-text,
.sidebar:hover .sidebar-icon-text {
    display: block;
}

.unread-count {
    display: none;
    margin-right: 1rem;
}
  
  .sidebar.open .unread-count,
  .sidebar:hover .unread-count {
    display: block;
  }