.container {
  padding: 0 1em;
}

.edit-container {
  margin-top: 2.5em;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.note-list {
  justify-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, 238.4px);
  gap: 20px;
  margin-top: 2.5em;
}

.note-list {
  margin-left: 1rem;
}

.main-layout {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: 280px 1fr; /* ניווט ברוחב קבוע, התוכן תופס את שאר המקום */
  grid-template-rows: 64px 1fr; /* גובה הדר קבוע */
  height: 100vh;
}
