.drop-menu {
  display: flex;
  flex-direction: column;

  z-index: 5030;
  position: absolute;
  top: 100%;
  left: -5%;
  width: max-content;

  padding: 6px 0;
  border-radius: 4px;
  align-items: start;
  justify-content: start;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.drop-menu > * {
  align-self: start;
  padding: 5px 10px 5px 17px;
  width: 100%;
}

.drop-menu > *:hover {
  background-color: var(--btn-h-bg);
  cursor: pointer;
}
