.keep-nav {
  grid-area: nav;
  place-items: start;
  padding-top: 8px;
  height: 100%;
  display: inline;
}

.keep-nav:hover {
  width: 240px;
}

.keep-nav .open {
  width: 240px;

  margin-left: 0px;
  padding: 12px 12px 12px 24px;
  border-radius: 0 25px 25px 0;
}

.keep-nav:hover a {
  width: 100%;
  margin-left: 0px;
  padding: 12px 12px 12px 24px;
  border-radius: 0 25px 25px 0;
}

.keep-nav a {
  position: relative;
  display: flex;
  padding: 12px 12px 12px 12px;
  margin-left: 10px;
  border-radius: 50%;
}

.keep-nav a.active {
  background-color: var(--nav-active);
}

.keep-nav a:hover {
  background-color: #f1f3f4;
  border-radius: 0 25px 25px 0;
}

.keep-nav span {
  letter-spacing: 0.0178571429em;
  font-family: Product Sans, Roboto, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 550;
  line-height: 1.55rem;
  margin: 0 0 0 20px;
}
