.note-preview {
  position: relative;
  border: 0.8px solid var(--note-border);
  border-radius: 8px;
  width: 100%;
  height: max-content;
  transition: box-shadow 0.2s ease-in-out;
}

.note-preview:hover {
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.note-preview .txt {
  display: block;
  width: 78%;

  white-space: pre-wrap;

  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;

  overflow-wrap: break-word;
  overflow: hidden;

  padding: 12px 16px;
}

.note-preview .title {
  width: 78%;

  letter-spacing: 0.00625em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5rem;
  padding: 12px 16px 0px;
}

.note-preview button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.note-preview:hover button {
  opacity: 1;
}

.n-pin-btn {
  position: absolute;
  top: 6px;
  right: 12px;
}

.n-pin-btn svg {
  fill: none; /* ללא מילוי */
  stroke: #757575; /* צבע הקווים */
  stroke-width: 50; /* עובי קווים */
  transition: fill 0.3s ease;
}

.n-pin-btn:hover svg {
  fill: none; /* ללא מילוי */
  stroke: #757575; /* צבע הקווים */
  stroke-width: 50; /* עובי קווים */
  transition: fill 0.3s ease;
}

.n-pin-btn.pinned svg {
  fill: var(--gog-ylo); /* מילוי צהוב כשההערה מוצמדת */
  stroke: none;
}
