.notes-container {
  grid-area: main;
}

.edit-container {
  align-self: center;
  border: solid 1px var(--note-border);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  height: max-content;
}

.edit-button {
  width: 100%;
}

.edit-button h1 {
  padding: 12px 16px;

  letter-spacing: 0.0142857143em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.25rem;
}

.edit-button section {
  margin-top: 2px;
  gap: 0.9em;
  padding-right: 16px;
  height: fit-content;
  align-self: center;
}

.edit-button button {
  padding: 6px;
}
