.note-index {
  position: relative;
}

.note-reset {
  background-color: #fff;
  color: rgb(32, 33, 36);
  outline-color: #202124;
  direction: ltr;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  padding: 0;
}

.note-reset button:hover {
  background-color: var(--btn-h-bg);
  cursor: pointer;
  border-radius: 50%;
}

.note-reset button:hover svg {
  fill: black;
}

.note-reset li,
.note-reset ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.note-reset input {
  all: unset;
}

.note-reset textarea {
  all: unset;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  resize: none;
  min-height: 20px;
  max-height: 300px;
  height: max-content;
  overflow-y: hidden;
  resize: none;
}

.note-reset input,
.note-reset textarea,
.note-reset select,
.note-reset button {
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
  appearance: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

/* עיצוב האנימציה */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* הגדרת האנימציה */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
