.user-msg {
  position: fixed;
  bottom: -100px;
  right: 0.5em;
  padding: 0.5em;
  background-color: #111;
}

.user-msg.open {
  bottom: 0.8em;
  transition: bottom 0.5s;
}

.user-msg.success {
  background-color: var(--color2);
}

.user-msg.error {
  background-color: black;
  color: yellow;
  font-weight: 400;
}

.user-msg button {
  float: right;
  margin-inline-start: 4px;
}
